<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../css/carrito.css"/>
    <%- include("./partials/head") %>
<body>

    <%- include("./partials/header") %>
    
    <main>

        <div class="flex-carrito">

            <section class="columnas-carrito">
                <article class="titulos-carrito">
                    <p>CARRITO</p>
                    <p class="titulos-chicos-carrito">1 OBJETO</p>
                </article>
                <article id="info-carrito" class="subtitulos-carrito">
                    <div>
                        <img src="../img/<%=carritoProducto.img %>"></img>
                    </div>
                    <div class="info-texto-carrito">
                        <p> x1 <%=carritoProducto.titulo %> </p>
                        <p class="texto-chico-carrito"> Precio en $ARS <%=carritoProducto.precio %></p>
                        <p class="texto-chico-carrito"> Precio en $USD <%=carritoProducto.precio / 170 %></p>
                        <a class="texto-chico-carrito" href="/product/detalle/<%=carritoProducto.id %> "> info </a>
                    </div>
                </article>
                <article class="subtitulos-carrito">
                    <p>SUBTOTAL:</p>
                    <p>$<%=carritoProducto.precio %></p>
                </article>
            </section>

            <section class="columnas-carrito">
                <article class="titulos-carrito">
                    <p>RESUMEN</p>
                </article>
                <article class="subtitulos-carrito">
                    <p>DESCUENTO:</p>
                    <p class="descuento-carrito"><%=carritoProducto.descuento %>%</p>
                </article>
                <article class="subtitulos-carrito">
                    <p>TOTAL:</p>
                    <p>$<%=carritoProducto.precio * (1-(carritoProducto.descuento/100)) %></p>
                </article>
                <div class="botones-carrito">
                    <button type="button" class="btn btn-success">Comprar</button>
                    <button type="button" class="btn btn-primary">Seguir Compra</button>
                </div>

            </section>

        </div>

    </main>

    <%- include("./partials/footer") %>

</body>
</html>