<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href=".././css/login.css"/>
    <%- include("../partials/head") %>

<body>
    
    <%- include("../partials/header") %>
    
    <main>

        <h3 class="titulos">Ingresa con tu usuario</h3>
        <div class="flex-contenedor">   
         

            <form id="formulario" action="/user/login" method="POST">
                
                <div class="formularios">
                    <input class="input-formulario" type="email" name="email" placeholder="Email">
                </div>
                <% if(locals.errores && errores.email) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.email.msg %>
                    </div>
                    <% } %>

                <div class="formularios">
                    <input class="input-formulario" type="password" name="clave" placeholder="Clave">
                </div>
                <% if(locals.errores && errores.clave) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.clave.msg %>
                    </div>
                    <% } %>

                <p class="boton-ingreso">
                    <button class="btn btn-success" type="submit">Ingresar</button>
                </p>
                <% if(locals.erroresClave) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= "Contraseña incorrecta" %>
                    </div>
                    <% } %>

                
            </form>

            <p class="boton-ingreso">
                <a href="../user/registro"><button class="btn btn-primary" type="button">Registrarse</button></a>
            </p>

        </div>
    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>