<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href=".././css/registro.css"/>
    <%- include("../partials/head") %>

<body>

        <%- include("../partials/header") %>
        
    <main>
        
        <h3 class="titulos">Crea tu usuario</h3> 

        <div class="flex-contenedor">
            
              
            <form id="formulario" method="POST" action="/user/registro" enctype="multipart/form-data">
                
                <div class="errores">
                    <ul></ul>
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="text" name="nombre" id="nombres" placeholder="Nombre y Apellido" value="<%= locals.oldData ? oldData.nombre : null %>">
                </div>
                <% if(locals.errores && errores.nombre) { %> 
                <div style="color:red" class="msg-validator">
                    <%= errores.nombre.msg %>
                </div>
                <% } %>
                
                <div class="formularios">
                    <input class="input-formulario" type="email" name="mail" id="email" placeholder="E-mail" value="<%= locals.oldData ? oldData.mail : null %>">
                </div>
                <% if(locals.errores && errores.mail) { %>
                    <div style="color:red" class="msg-validator">
                        <%= errores.mail.msg %>
                    </div>
                    <% } %>
                
                <div class="formularios">
                    <input class="input-formulario" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario" value="<%= locals.oldData ? oldData.usuario : null %>">
                </div>
                <% if(locals.errores && errores.usuario) { %>
                    <div style="color:red" class="msg-validator">
                        <%= errores.usuario.msg %>
                    </div>
                    <% } %>
                
                <div class="formularios">
                    <input class="input-formulario" type="password" name="clave" id="clave" placeholder="clave">
                </div>
                <% if(locals.errores && errores.clave) { %>
                    <div style="color:red" class="msg-validator">
                        <%= errores.clave.msg %>
                    </div>
                    <% } %>
                
                <div class="formularios">
                    <input class="input-formulario" type="file" name="Imagen" id="pais">
                </div>
                <% if(locals.errores && errores.Imagen) { %>
                    <div style="color:red" class="msg-validator">
                        <%= errores.Imagen.msg %>
                    </div>
                    <% } %>

                <p class="boton-ingreso">
                    <button type="submit" class="btn btn-success" id="button">Registrar</button>
                </p>

                <p class="subtitulos">
                    <a href="/user/login">Ya Tengo Cuenta</a>
                </p>

            </form>

        </div>
    </main>

    <%- include("../partials/footer") %>

    <script src=".././js/registro.js"></script>

</body>
</html>
