<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="../../css/usuario.css"/>
    <%- include("../partials/head") %>

<body>
    
    <%- include("../partials/header") %>
    
    <main>
        <div id="contenedor-principal">
            <article id="ladoizquierdo">
                <img id="imagenUsuario" src="../../img/<%=user.img%> ">
            </article>
            <article id="ladoDerecho">
                <h3 id="nombreUsuario"><%=user.nombre%></h3>
                <h4 class="datos" >Email: <%=user.mail%></h4>
                <h4 class="datos">Usuario: <%=user.usuario%></h4>
                <div id="botonesUsuario">
    
                    <a href="/user/logout">Cerrar sesión</a>
                </div>
            </article>    
        </div>  
    </main>

    <%- include("../partials/footer") %>



</body>
</html>