<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href=".././css/crearProducto.css"/>
    <%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>

    <main>

        <h3 class="titulos">Crear producto</h3>
        <div class="flex-contenedor">

            <form id="formulario" method="POST" action="/product/crear" enctype="multipart/form-data">
            
                <div class="formularios">
                    <input class="input-formulario" type="text" name="titulo" placeholder="Título">
                </div>
                <% if(locals.errores && errores.titulo) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.titulo.msg %>
                    </div>
                    <% } %>

                <div class="formularios">
                    <input class="input-formulario" type="text" name="precio" placeholder="Precio"></input>
                </div>
                <% if(locals.errores && errores.precio) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.precio.msg %>
                    </div>
                    <% } %>
                
                <div class="formularios">
                    <input class="input-formulario" type="text" name="descuento" placeholder="Descuento"></input>
                </div>
                <% if(locals.errores && errores.descuento) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.descuento.msg %>
                    </div>
                    <% } %>

                <div class="formularios">
                    <label for="categoria" class="input-formulario">Categoria:</label> 
					<select name="categoria" aria-placeholder="Seleccionar">
                        <option value="shooter">Shooter</option>
                        <option value="simulador">Simulador</option>
                        <option value="rol">Rol</option>
                        <option value="estrategia">Estrategia</option>
                    </select>
                </div>

                <div class="formularios">
                    <input class="input2-formulario" name="descripcion" placeholder="Descripción"></input>
                </div>
                <% if(locals.errores && errores.descripcion) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.descripcion.msg %>
                    </div>
                    <% } %>

                <div class="formularios">
                    <input class="input-formulario" type="file" name="Imagen">
                </div>

                <p class="boton-ingreso">
                    <button type="submit" class="btn btn-success">Crear</button>
                </p>

            </form>
            <!--prueba caragndo muchas imagenes
            <form id="formulario" method="POST" action="/product/crear" enctype="multipart/form-data">
            
                <div class="formularios">
                    <input class="input-formulario" type="file" name="Imagenes" multiple>
                </div>
                
            </form>
            prueba caragndo muchas imagenes-->
      </div>
        
    </main>

    <%- include("../partials/footer") %>
</body>
</html>