<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="../../css/detalle.css"/>
    <%- include("../partials/head") %>

<body>
    
    <%- include("../partials/header") %>

    <main>
        <div id="productos">
            <section id="lado-izquierdo">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    
                        <img class="d-block w-100" src="../../img/<%=detalleProductoImgGameplay  %> " alt="First slide">
                    
                </div>
                <section id="caja-info">
                    <h1 id="titulo-juego"><%=detalleProducto.titulo  %> </h1>
                    <br>
                    <br>
                    <p class="info-juego"><%=detalleProducto.descripcion  %> </p>     
                    <br>
                </section>
            </section>     
            <section id="lado-derecho">  
                <article id="contenedor-derecho">
                        <img id="logo-producto" src="../../img/<%=detalleProductoImg  %> ">
                        <p id="precio">$<%=detalleProducto.precio %></p>
                        <button type="submit" id="agregar-carrito" >COMPRAR AHORA</button>
                </article>
            </section> 
        </div>
        <div id="botones-formu">
        <form action="/product/detalle/<%=detalleProducto.id%>?_method=DELETE" method="POST" style="display: inline-flex" onsubmit="return confirm('Esta seguro que desea eliminarlo?');"> 
            <button type="submit" id="agregar-carrito">ELIMINAR</button>
        </form>
        <form action="/product/editar/<%=detalleProducto.id%>"> 
            <button type="submit" id="agregar-carrito">EDITAR PRODUCTO</button>
        </form>  
        </div>    
     
    </main>
    
    <%- include("../partials/footer") %>
    
    <script src="./../../js/detalleProducto.js"></script>

</body>
</html>