<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="../../css/crearProducto.css"/>
    <%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>

    <main>

        <h3 class="titulos">Editar producto</h3>
        <div class="flex-contenedor">

            <form id="formulario" action="/product/editar/<%=productoEncontrado.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="formularios">
                    <input class="input-formulario" type="text" name="titulo" value="<%=productoEncontrado.titulo %>">
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="text" name="precio" value="<%=productoEncontrado.precio %>"></input>
                </div>
                
                <div class="formularios">
                    <input class="input-formulario" type="text" name="descuento" value="<%=productoEncontrado.descuento %>"></input>
                </div>
                <div class="create-form">
                    <label for="categoria" class="form-label">Categoria:</label> 
					<select name="categoria" aria-placeholder="Seleccionar">
                        <option value="shooter">Shooter</option>
                        <option value="simulador">Simulador</option>
                        <option value="rol">Rol</option>
                        <option value="estrategia">Estrategia</option>
                    </select>
                </div>


                <div class="formularios">
                    <input class="input-formulario" name="descripcion" value="<%=productoEncontrado.descripcion %>"></input>
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="file" name="Imagen" value="<%=productoEncontrado.img %>">
                </div>

                <p class="boton-ingreso">
                    <button type="submit" class="btn btn-success">Editar</button>
                </p>

            </form>
      </div>
        
    </main>

    <%- include("../partials/footer") %>
</body>
</html>