<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="../../css/crearProducto.css"/>
    <%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>

    <main>

        <h3 class="titulos">Editar producto</h3>
        <div class="flex-contenedor">

            <form id="formulario" action="/product/editar/<%=productoEncontrado.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="errores">
                    <ul></ul>
                </div>

                <div class="formularios">
                    <input class="input-formulario" id="titulo" type="text" name="titulo" value="<%=productoEncontrado.titulo %>">
                </div>
                <% if(locals.errores && errores.titulo) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.titulo.msg %>
                    </div>
                    <% } %>

                <div class="formularios">
                    <input class="input-formulario" id="precio" type="text" name="precio" value="<%=productoEncontrado.precio %>"></input>
                </div>
                <% if(locals.errores && errores.precio) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.precio.msg %>
                    </div>
                    <% } %>
                
                <div class="formularios">
                    <input class="input-formulario" id="descuento" type="text" name="descuento" value="<%=productoEncontrado.descuento %>"></input>
                </div>
                <% if(locals.errores && errores.descuento) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.descuento.msg %>
                    </div>
                    <% } %>

                <div class="formularios">
                    <label for="categoria" class="input-formulario">Categoria:</label> 
					<select name="categoria" aria-placeholder="Seleccionar">
                        <option value="shooter">Shooter</option>
                        <option value="simulador">Simulador</option>
                        <option value="rol">Rol</option>
                        <option value="estrategia">Estrategia</option>
                    </select>
                </div>


                <div class="formularios">
                    <input class="input-formulario" id="descripcion" name="descripcion" value="<%=productoEncontrado.descripcion %>"></input>
                </div>
                <% if(locals.errores && errores.descripcion) { %> 
                    <div style="color:red" class="msg-validator">
                        <%= errores.descripcion.msg %>
                    </div>
                    <% } %>

                <div class="formularios">
                    <input class="input-formulario" type="file" name="Imagen" value="<%=productoEncontrado.img %>">
                </div>

                <p class="boton-ingreso">
                    <button class="btn btn-success" id="button" type="submit">Editar</button>
                </p>

            </form>
      </div>
        
    </main>

    <%- include("../partials/footer") %>


    <script src=".././js/editarProducto.js"></script>

</body>
</html>