<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../../css/tienda.css"/>
    <%- include("../partials/head") %>
<body>
    
    <%- include("../partials/header") %>
   
   <main>
       <!--<p class="titulos">DESTACADO</p>-->
    <br>
    <br>
        <div id="contenedor-portada">
          <section id="contenedor-izq">
            <img  src=".././img/<%=imagenesLogo[0]%> "  id="logo-portada"></img>
            <article id="info-portada">
              <h2 class="titulos2"><%=todosLosProductos[0].titulo %></h2>
              <br>
              <p id="descrip"><%=todosLosProductos[0].descripcion.slice(0,136) %>.</p>
              <a href="/product/detalle/1 "><button type="button" id="ver-mas">VER MAS</button></a>
          </article>
          </section>
            <section id="portada" >
                <img  src=".././img/panoramica1.jpg"  id="banner"></img>
            </section>
        </div>
 

      <br>
        <p class="titulos">CATALOGO</p>

        <div class="caja-catalogo">
        <% for(let i=0;i<todosLosProductos.length;i++) {%> 
        <section class="juego-catalogo">
        <a href="/product/detalle/<%=todosLosProductos[i].id %> " id="redireccionamiento">
            <article class="fotos-catalogo">
                <img src=".././img/<%=imagenesLogo[i]  %> "></img>
            </article>
            <div class="info">
                <p id="titulo"><%=todosLosProductos[i].titulo %></p>
                <p>$<%=todosLosProductos[i].precio %></p>
            </div>
        </a>
        </section>
        <% } %> 
        
        </div>

        <!--<div id="ver-mas">
            <button type="button" class="btn btn-primary">Ver más</button>
        </div>-->


   </main>
   
   <%- include("../partials/footer") %>

</body>
</html>