<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../../css/tienda.css"/>
    <%- include("../partials/head") %>
<body>
    
    <%- include("../partials/header") %>
   
   <main>
       <!--<p class="titulos">DESTACADO</p>-->
    <br>
    <br>
        <div id="contenedor-portada">
          <section id="contenedor-izq">
            <img src=".././img/<%=todosLosProductos[0].img%> " id="logo-portada"></img>
            <article id="info-portada">
              <h2 class="titulos2">FALLOUT 76</h2>
              <br>
              <p id="descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis minus temporibus incidunt vitae maiores inventore quos </p>
              <a href="/product/detalle/1 "><button type="button" class="btn btn-success">VER MAS</button></a>
          </article>
          </section>
            <section id="portada"></section>
        </div>
 

      <br>
        <p class="titulos">CATALOGO</p>

        <div class="caja-catalogo">
        <% for(let i=0;i<todosLosProductos.length;i++) {%> 
        <section class="juego-catalogo">
        <a href="/product/detalle/<%=todosLosProductos[i].id %> " id="redireccionamiento">
            <article class="fotos-catalogo">
                <img src=".././img/<%=todosLosProductos[i].img  %> "></img>
            </article>
            <div class="info">
                <p id="titulo"><%=todosLosProductos[i].titulo %></p>
                <p>$<%=todosLosProductos[i].precio %></p>
            </div>
        </a>
        </section>
        <% } %> 
        
        </div>

        <!--<div id="ver-mas">
            <button type="button" class="btn btn-primary">Ver más</button>
        </div>-->


   </main>
   
   <%- include("../partials/footer") %>

</body>
</html>