<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="../../css/crearProducto.css"/>
    <%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>

    <main>

        <h3 class="titulos">Editar producto</h3>
        <div class="flex-contenedor">

            <form id="formulario" action="/product/editar/<%=productoAEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="formularios">
                    <input class="input-formulario" type="text" name="titulo" value="<%=productoAEditar.titulo %>">
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="text" name="precio" value="<%=productoAEditar.precio %>"></input>
                </div>
                
                <div class="formularios">
                    <input class="input-formulario" type="text" name="descuento" value="<%=productoAEditar.descuento %>"></input>
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="file" name="Imagen" value="<%=productoAEditar.img %>">
                </div>

                <div class="formularios">
                    <textarea class="input2-formulario" name="descripcion" value="<%=productoAEditar.descripcion %>"></textarea>
                </div>

                

                <p class="boton-ingreso">
                    <button type="submit" class="btn btn-success">Editar</button>
                </p>

            </form>
      </div>
        
    </main>

    <%- include("../partials/footer") %>
</body>
</html>